GEMINI_API_KEY=
GEMINI_API_KEYS=key1,key2,key3
SEMAPHORE_API_KEY=

# Firebase Configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# Server
API_SECRET_KEY=
